body {
  background-color: rgba(198, 171, 224, 0.08);
  font-family: "Poppins";
  color: rgb(158, 122, 189);
}

#container {
  border: 4px solid rgba(187, 153, 221);
  width: 414px;
  height: 896px;
  margin: auto;
  perspective: 500px;
}

#perfil {
  justify-content: center;
  text-align: center;
  padding: 29px;
  margin: auto;
  width: 297px;
  height: 231px;
  margin-top: 80px;
  margin-left: 40px;
  margin-bottom: 54px;
  margin-right: 77px;
}

#perfil img {
  width: 213px;
  height: 213px;
  transition: 1s;
}

#perfil img:hover {
  /*transform: rotatez(90deg);*/
  animation: pirueta 5s ease-in-out;
}
@keyframes pirueta {
  25% {
    transform: rotatez(90deg);
  }
  75% {
    transform: rotatez(-90deg);
  }
  100% {
    transform: rotatez(0deg);
  }
}
#img2 {
  border: 3px rgb(157, 128, 182) solid;
  border-radius: 50%;
  padding: 3px;
}
#perfil p {
  font-weight: 300;
  line-height: 24px;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
ul li a {
  font-weight: 600;
  line-height: normal;
}
ul li {
  border: 2px solid rgb(157, 128, 182);
  border-radius: 4px;
  width: 326px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(187, 153, 221, 0.08);
}
a {
  color: #b9d;
  text-decoration: none;
}
#social-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 29px;
  font-size: 24px;
  padding: 24px 0px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
}
